/*CSS FERRE*/
* {
    margin: 0;
    padding: 0;
}

html, body#index{
    height: 100%;
}


ul#flex-nav{
    position: relative;
    height: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.label{
    padding-top: 45px;
}

ul li {
    line-height: 450px;
    font-size: 40px;
    flex-grow: 1;
    height: 100%;
    padding-top: 10px;
    color: #fffffb;
    font-weight: bold;
    text-align: center;
}

#parent{
    height: 100%;
}

#parent-logo{
    position: absolute;
    left: 35%;
    right: 50%;
    top: 0px;
}

ul li:first-child{
    background: url("foto's/flags.jpg") no-repeat;
    filter: brightness(50%);

}
ul li:nth-child(2){
    background: url("foto's/stadions.jpg") no-repeat;
    filter: brightness(50%);
}
ul li:nth-child(3){
    background: url("foto's/opstelling.jpeg") no-repeat center;
    background-size: 150% 100%;
    object-fit: cover;
    filter: brightness(50%);
}
ul li:last-child  {
    background: url("foto's/fifa-world-cup-beker.jpg") no-repeat center;
    background-size: 200% 100%;
    object-fit: cover;
    filter: brightness(50%);
}

ul li:hover{
    filter: brightness(100%);
}

div#flex-container{
    width: 400px;
    height: 100%;
    margin-left: 25%;
    margin-right: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    flex-grow: 1;
}

div#index-logo{
    border-radius: 0px 0px 50px 50px;
    background: url("./resources/logo_wk_2018.png") no-repeat center;
    background-size: 100%;
    align-self: flex-start;
    height: 100px;
    width: 100%;
}

div#countdown{
    border: solid white 1px;
    opacity: 0.5;
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    align-self: flex-end;
}


div#countdown p:nth-child(1){font-size: 18px;}
div#countdown p:last-child{font-size: 30px; margin-top: 10px;}








































































/*CSS YARI*/








































































































/*CSS SANDER*/








































































/*CSS YARI*/








































































































/*CSS SANDER*/
#imgContainer{
    display: flex;
    margin-right: 30vw;
    justify-content: flex-end;
    flex-direction: row;
    clear:both;
}
#info{
    border:1px;
    border-color: #111111;
    border-style: solid;
    width: 25vw;
    padding: 1vw;

}
#addForm{
    border:1px;
}
#wklogo{
    width: 20vw;
    height:6vw;
}